{% block modal %} 
{% if tutor_info.first_login %}
<!-- Tutor First Login modal -->
<div class="modal fade" id="firstLogin">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Welcome to TutorLab!</h3>
			</div>
			<div class="modal-body">
				<p>
                    We see that this is your first time logging in. Lets change your password to a better one!
                    Click the button below to change your password now.
                </p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary">Change password</a>
			</div>
		</div>
	</div>
</div>
{% endif %}

<!-- Calendar Event Clicked Modal -->
<div id="calendarModal" class="modal fade">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<form action="{% url 'ta_tutor:start_session' %}" method='post'>
				{% csrf_token %}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
					<h3>Appointment</h3>
				</div>
				<div class="modal-body"> 
					<div class="modal-inline">
						<h4>Student: </h4>
						<p id="modalabc123"></p>
						<input type="hidden" id="student" name="student">
						<p> - </p>
						<p id="modalStudent"></p>
					</div>
					<div class="modal-inline">
						<h4>Course: </h4>
						<p id="modalCourse"></p>
						<input type="hidden" id="classID" name="classID">
					</div>
					<div class="modal-inline">
						<h4>Date: </h4>
						<p id="modalDate"></p>
					</div>
					<div class="modal-inline">
						<h4>Description: </h4>
						<p id="modalDescription"></p> 
					</div>
					<div class="modal-inline">
						<h4>Student Confirmation: </h4>
						<p id="modalConfirmed"></p> 
					</div>
					<div class="modal-inline">
						<input type="hidden" id="modalID">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" id="start-session-btn" class="btn btn-primary pull-left" onclick="start_session()">Start Appointment</button>
					<button type="button" id="change-date-btn" class="btn btn-primary" data-dismiss="modal" onclick="change_date()">Change Date</button>
					<button type="button" id="delete-event-btn" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#are_you_sure">Delete Appointment</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Change Appt Date Modal -->
<div class="modal fade" id="request_new_date">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<form id="send_date" action="send-date/" method="POST">
			{% csrf_token %}
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Send a new date</h3>
			</div>
			<div class="modal-body" id="date-modal-body">
				<div class="alert alert-danger" id="appt-send-failed-alert" role="alert" style="display:none;">You must enter a date</div>
				<div class="alert alert-success" id="appt-send-success-alert" role="alert" style="display:none;">New date sent</div>
				<div class="control-group">
					<div class="modal-inline">
						<h4>Old Date: </h4>
						<p id="modalOldDate"></p>
					</div>
					<input type="hidden" id="event_ID" name="event_ID">
					<label class="control-label">Appt date</label> 
					<div class="controls">
						<div id="appt_date" class="input-group date">
							<input class="form-control" id="new_appt_date" maxlength="50" name="appt_date" type="text" required />
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
						</div>
						<script type="text/javascript">
							$("#appt_date").datetimepicker({format: 'mm/dd/yyyy H:ii P',
								showMeridian: true,
								autoclose: true}).find('input').addClass("form-control");
						</script>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" id="send_btn"></input>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

<!-- Are You Sure Delete Modal -->
<div class="modal fade" id="are_you_sure">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Are you sure you want to delete this Appointment?</h3>
			</div>
			<div class="modal-body">
				<button type="submit" class="btn btn-primary" style="margig:20px" data-dismiss="modal">Keep Appointment</button>
				<button type="submit" id="delete-event" class="btn btn-danger pull-right" data-dismiss="modal" onclick="delete_event()">Delete Appointment</button>
			</div>
		</div>
	</div>
</div>
{% endblock modal %}