{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}Welcome to CS Tutor Lab!{% endblock head_title %}</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/personal.css' %}" rel="stylesheet">

	<!-- FULLCALENDAR JS/CSS -->
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'js/personal.js' %}"></script>

  </head>
<!-- ================================================== -->
  <body>
      
<!--HEADER NAVBAR-->
    {% block header %}
        {% include "home/includes/header.html" %}
    {% endblock %} 

<!--STUDENT MODALS-->
    {% block modal %}
      {% include "home/includes/modal.html" %}
    {% endblock %}

<!--PAGE CONTENT-->
    {% block page %}
      
    {% endblock %}

<!--FOOTER BAR-->
    {% comment %}{% block footer %}
      {% include "home/includes/footer.html" %}
    {% endblock %}  {% endcomment %}

<!-- Bootstrap core JavaScript
================================================== -->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!--================================================== -->
  </body>
</html>

